@import "./reset.css";
@import "./media-queries.css";
@import "./spinner.css";
@import "./vars.css";

body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  padding: 3px 0.75rem;
  font-size: 0.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  border-radius: 0.375rem;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-border);
  cursor: pointer;
}

.btn-star::before {
  content: "";
  display: inline-block;
  background-size: 1rem 1rem;
  background-image: url("../assets/star.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1rem;
  border-bottom: 1px solid #30363d;
  background-color: var(--color-bg-secondary);
}

header p {
  color: var(--color-text-secondary);
}

main {
  padding: 2.5rem 1rem;
}

.main__content {
  margin: 0 auto;
  max-width: 62rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-border-primary);
}

nav a {
  color: var(--color-text-primary);
  text-decoration: none;
  padding: 0.45rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  border: 1px solid var(--color-border-primary);
}

nav a.selected {
  background-color: var(--color-state-selected-primary-bg);
}

nav a:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

nav a:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.row {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-primary);
}

.row a {
  color: var(--color-text-link);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  line-height: 1.25rem;
}
.row a:hover {
  text-decoration: underline;
}

.row .general a::before {
  content: "";
  background-size: 1rem 1rem;
  background-image: url("../assets/agenda.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.row .description {
  font-size: 0.875rem;
  margin: 0.25rem 0;
  color: var(--color-text-secondary);
}

.row .info {
  display: flex;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.row p {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

.row .general p {
  margin-right: 1rem;
}

.row .info p.stars::before {
  content: "";
  display: inline-block;
  background-size: 1rem 1rem;
  background-image: url("../assets/star.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.row .info p.forks::before {
  content: "";
  display: inline-block;
  background-size: 1rem 1rem;
  background-image: url("../assets/fork.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}
.row .info .built-by {
  display: flex;
  align-items: flex-end;
}

.row .info .built-by p {
  margin-right: 0.25rem;
}

.row .info .built-by__img {
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.row .star-repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.row-devs {
  display: flex;
}

.row-devs > div {
  display: flex;
}

.row-devs .developer {
  flex: 0 1 25%;
}
.row-devs .repo {
  flex: 0 1 50%;
}
.row-devs .follow {
  flex: 0 1 25%;
  justify-content: flex-end;
}

.row-devs .developer img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
}

.row-devs .developer .index {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
}

.row-devs .developer .username {
  color: var(--color-text-secondary);
  font-size: 1rem;
}

.row-devs .developer .username:hover {
  color: var(--color-text-link);
}

.row-devs .repo {
  flex-direction: column;
}

.row-devs .repo .flag {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

.row-devs .repo .flag::before {
  content: "";
  background-size: 1rem 1rem;
  background-image: url("../assets/flame.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.row-devs .repo a {
  font-size: 1rem;
}

.row-devs .repo a::before {
  content: "";
  background-size: 1rem 1rem;
  background-image: url("../assets/agenda.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.row-devs .repo .description {
  font-size: 0.75rem;
  max-width: 50ch;
}

.row-devs .follow .btn:not(:last-child) {
  margin-right: 0.5rem;
}

.row-devs .follow .btn.sponsor::before {
  content: "";
  background-size: 1rem 1rem;
  background-image: url("../assets/like.png");
  background-repeat: no-repeat;
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.error {
  color: #f00;
  font-size: 0.8rem;
  margin: 0 auto;
}
